* {
    box-sizing: border-box;
  }
  .card {
    color: rgb(236, 245, 246);

    display: flex;;
    float: center;
    width: calc(30% - 20px);
    padding: 15px;
    border-radius: 12px;
    margin: 25px;
    height: 200px;
  }
  .card p {
    font-size: 16px;
  }

  .cardContainer {
    align-items: center;

  }

  .cardContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .card {
       width: 100%;
    }
  }